cycler==0.10.0
DateTime==4.1.1
Django==1.11
future==0.16.0
Markdown==2.6.9
network==0.1
olefile==0.44
Pillow==4.0.0
ply==3.10
Pygments==2.2.0
PyInstaller==3.2.1
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
sip==4.19.2
six==1.10.0
zope.interface==4.3.3
